.about-wrapper {
    min-height: 30vh;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    color: white;
    margin-bottom: 10vh;
}

.about-header {
  margin-top: 3vh;
  font-size: xx-large;
  text-align: center;
  color: white;
}

.about-header hr {
  display: inline-block;
  width: 15vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border-top: 5px solid black; 
}

.description {
  text-align: center;
  font-size: large;
  line-height: 150%;
  margin-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
}
  