.navbar {
    transition-duration: .5s;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.nav-link {
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000000;
    transition: transform 0.1s ease-in-out
}

.nav-link:hover {
    transform: scale(1.2);
    
}

.navbar-scrolled {
    transition-duration: .5s;
    background-color: black;
    padding-top: 0vh;
    padding-bottom: 0vh;
    opacity: .7;
}

.nav-link-scrolled {
    padding-left: 2vh;
    padding-right: 2vh;
}

.nav-item {
    margin-right: 4vh;
    margin-left: 3vh;
    font-size: 3vh;
}

#navbar a.nav-link {
    color: white !important;
}