.experience-wrapper {
    padding: 10vh;
    background-color: #dcd9c4;
}

.experience-header {
    font-size: 10vh;
    text-align: center;
    margin-bottom: 3vh;
}

.experiences {
    border-radius: 10px;
    min-width: 100%;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    box-shadow: 5px 5px 5px #000000;
    color: white;
    margin-top: 3vh;
    background-color: #004080;
}

.exp-pic {
    display: block;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3vh;
    max-height: 5vh;
}

.job-title {
    font-weight: 600;
    display: block;
}

.date {
    font-style: italic;
    display: block;
}

.company {
    text-decoration: underline;
}

.detail {
    display: block;
    text-align: left;
}