.experience-wrapper {
    padding: 10vh;
    background-color: #DABC94;
}

.experience-header {
    font-size: 10vh;
    text-align: center;
    margin-bottom: 3vh;
}

.experiences {
    border-radius: 10px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center;
    /* border: solid 4px #444444; */
    border-radius: 20px;
    background-color: #f6ede4;
    margin-top: 3vh;
    color: black;
    max-width: 40vw;
}

.exp-pic {
    display: block;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3vh;
    max-height: 5vh;
}

.job-title {
    font-weight: 600;
    display: block;
}

.date {
    font-style: italic;
    display: block;
}

.company {
    text-decoration: underline;
}

.detail {
    display: block;
    text-align: left;
}