<div class="container-fluid projects-wrapper">
    <div class="projects-header">
        <hr>PROJECTS<hr>
    </div>
    <div class="row">
        <div *ngFor = "let proj of projectList" class="project-list col-md" (mouseover)= "changeImage(proj.image)">
            <a routerLink="/effort-logger">{{proj.name}}</a>
            <div class="languages">
                <span>{{proj.languages?.lang1}}</span>
                <span>{{proj.languages?.lang2}}</span>
                <span>{{proj.languages?.lang3}}</span>
                <span>{{proj.languages?.lang4}}</span>
            </div>
            <div class="frameworks">
                <span>{{proj.frameworks?.frame1}}</span>
                <span>{{proj.frameworks?.frame2}}</span>
                <span>{{proj.frameworks?.frame3}}</span>
                <span>{{proj.frameworks?.frame4}}</span>
            </div>
            <div class="details">
                <span>{{proj.detail1}}</span>
                <span>{{proj.detail2}}</span>
                <span>{{proj.detail3}}</span>
            </div>
        </div>
        <div class="col-md-6 projImg">
            <img [src]="currentImage" alt="Project Image">
        </div>
    </div>
</div>