.projects-wrapper {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.projects-header {
    font-size: 10vh;
    text-align: center;
    margin-bottom: 3vh;
}

.projects-list {
    display: block;
    border: solid 2px #000000;
    box-shadow: 3px 3px 3px 0px #000000;
    border-radius: 5px;
    margin-left: 10vh;
}

.name {
    display: block;
    font-weight: 600;
}

.languages {
    display: block;
}

.frameworks {
    display: block;
}

.details {
    display: block;
    text-align: left;
}

.projImg img {
    height: 100%;
    width: auto;
    max-height: 30vh;
    object-fit: cover;
  }
