<div class="container-fluid projects-wrapper">
    <div class="projects-header">
        <hr>PROJECTS<hr>
    </div>
    <div class="container">
        <div class="card" style="--clr: #0096688">
            <div class="img-box">
                <img src="/assets/EffortLogger.gif">
            </div>
            <div class="content">
                <h2>Effort Logger</h2>
                <p>
                    Created a school project that tracks user data 
                    across a private firm, enables privacy data 
                    and upgrades previous versions of the app!
                </p>
                <a href="https://github.com/stspauga/EffortLogger" target="_blank">Take me to GitHub repo!</a>
            </div>
        </div>
    </div>
</div>
