body {
    background-color: #FAF9F6;
}

app-hello {
    position: relative;
  }
  
app-jumbotron {
  position: absolute;
  margin-left: 15vh;
  margin-top: 20vh;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure jumbotron is above hello */
}

app-current-job {
  position: absolute;
  margin-left: 140vh;
  margin-top: 20vh;
  
  top: 0;
  left: 0;
  z-index: 1;
}
