<body>
    <div class="app-container">
        <app-hello></app-hello>
        <app-jumbotron></app-jumbotron>
        <app-skills></app-skills>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg about">
                    <app-about-me></app-about-me>
                </div>
                <div class="col-lg current">
                    <app-current-job></app-current-job>
                </div>
            </div>
        </div>
    </div>
</body>

