.imgProf {
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

.navbar {
    transition-duration: .5s;
    padding-top: 3vh;
    padding-bottom: 3vh;
    
}

.navbar-scrolled {
    transition-duration: .5s;
    background-color: #4f4f4f;
    padding-top: 0vh;
    padding-bottom: 0vh;
    color: white;
}

.nav-link-scrolled {
    color: white;
    padding-left: 2vh;
    padding-right: 2vh;
}


