<div class="jumbotron-wrapper">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead anotherlead">My name is Tuliloa Pauga</p>
    <p class="lead">And I am an enthusiastic up and coming software engineer!</p>
    <hr class="my-4">
    <p class="lead">Feel free to get in touch with me via the button below!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/contact" role="button">Contact Me!</a>
    </p>
  </div>
  <div class="button-wrapper">
    <app-pdf-resume-download></app-pdf-resume-download>
  </div>
</div>

