.jumbotron-wrapper {
    background-image: url("/assets/Profile.png");
    background-size: cover; /* This ensures the entire background is covered */
    background-position: center; /* This centers the background image */
    background-repeat: no-repeat; 
    display: flex;
}
.jumbotron {
    padding-top: 15vh;
    padding-left: 10vh;
    max-width: 40%;
    padding-bottom: 10vh;
    text-shadow: 2px 2px 2px #5a5a5a;
}

.display-4 {
    font-size: 10vh;
    color: white;
    padding-bottom: 5vh;
    line-height: 1.1;
}

.lead {
    margin-top: 5vh;
    color: white;
    display: flex;
}

.anotherlead {
    margin-bottom: -5vh;
    color: white;
}

.p {
    color: white;
}

.btn {
    background-color: #213E60;
    border: none;
}

